@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Tourismpk.Models.Tourist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tourist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tourist_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tourist_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tourist_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tourist_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tourist_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tourist_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tourist_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tourist_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
